# Dependency directories
node_modules/
jspm_packages/

# TypeScript / Build output
dist/
demo-dist/
build/
out/
lib/
.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Environment variables
.env
.env.test
.env.production

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
